<form #f="ngForm" (ngSubmit)="save(f.value)">

  <div class="form-group">
    <label for="title" class="float-right">عنوان</label>
    <input ngModel name="title" id="title" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="code" class="float-right">کد</label>
    <input ngModel name="code" id="code" type="number" class="form-control">
  </div>
  <br>
  <div class="form-group form-check form-check-inline float-right">
    <input ngModel name="new" type="checkbox" value="new" id="new">
    <label class="form-check-label" for="new">
      محصول جدید
    </label>
  </div>
  <br><br>
  <div class="form-group">
    <label for="description" class="float-right">توضیحات </label>
    <textarea ngModel name="description" class="form-control" id="description" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="discount" class="float-right">تخفیف</label>
    <div class="input-group">
      <span class="input-group-addon ">%</span>
      <input ngModel name="discount" id="discount" type="number" class="form-control" [min]="0">
    </div>
  </div>

  <div class="form-group">
    <label for="price" class="float-right">قیمت</label>
    <div class="input-group">
      <span class="input-group-addon ">تومان</span>
      <input ngModel name="price" name="price" id="price" type="number" class="form-control" required [min]="0">
    </div>
  </div>


  <div class="form-group">
    <label for="category" class="float-right">دسته</label>
    <select [(ngModel)]="selectedCategory.id" name="category" id="category" class="form-control"
      (change)="onSelect($event.target.value)">
      <option value="0">-- انتخاب کنید--</option>
      <option *ngFor="let c of categories" value="{{ c.id }}">{{ c.name  }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="subCategory" class="float-right"> زیر دسته </label>
    <select ngModel name="subCategory" id="subCategory" class="form-control">
      <option value="0">
        -- انتخاب کنید--
      </option>
      <option *ngFor="let sc of subCategories" value="{{ sc.id }}">
        {{ sc.name  }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="colorType" class="float-right">بازتاب</label>
    <select ngModel name="colorType" id="colorType" class="form-control">
      <option value="0">
        -- انتخاب کنید--
      </option>
      <option *ngFor="let ct of colorTypes" value="{{ ct.id }}">
        {{ ct.name  }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="washable" class="float-right">قابلیت شستشو</label>
    <select ngModel name="washable" id="washable" class="form-control">
      <option value="0">
        -- انتخاب کنید--
      </option>
      <option *ngFor="let wa of washable" value="{{ wa.id }}">
        {{ wa.name  }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="color" class="float-right">(فام (رنگ</label>
    <select ngModel name="color" id="color" class="form-control" multiple size="3">
      <option value="0">
        -- انتخاب کنید--
      </option>
      <option *ngFor="let co of color" value="{{ co.id }}">
        {{ co.name  }}
      </option>
    </select>
  </div>


  <div class="form-group">
    <label for="size" class="float-right">حجم/سایز</label>
    <select ngModel name="size" id="size" class="form-control">
      <option value="0">
        -- انتخاب کنید--
      </option>
      <option *ngFor="let sz of size" value="{{ sz.id }}">
        {{ sz.name  }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="imageUrl1" class="float-right"> عکس اصلی</label>
    <input ngModel name="imageUrl1" id="imageUrl1" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="imageUrl2" class="float-right"> عکس دوم</label>
    <input ngModel name="imageUrl2" id="imageUrl2" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="imageUrl3" class="float-right">عکس سوم</label>
    <input ngModel name="imageUrl3" id="imageUrl3" type="text" class="form-control">
  </div>




  <button class="btn btn-primary float-right">ذخیره</button>
</form>